:root {
    --white: #F2F2F2;
    --font: "Permanent marker";
    --gray: #707070;
    --red: #BA0000;
    --darkgray: #3D3D3D;
}

* {
    font-family: var(--font);
}

header {
    padding: 30px;
    background: linear-gradient(#CDCDCD, var(--white));
    z-index: 2;
}
header h1 {
    font-family:var(--font);
    color: var(--gray);
    padding: 20px;
    text-align: left;
    display: inline;
    font-size: 250%;
    transition: 0.25s;
}
header h1:hover,
header nav ul li a:hover,
section ul li a:hover {
    color: black;
    text-shadow: 4px 4px 4px var(--gray);
}


header nav,
header nav ul {
    padding-right: 20px;
    float: right;
    list-style-type: none;
    font-size: 125%;
}

header nav ul li {
    font-family: var(--font);
    display: inline-block;
    padding: 10px;
}

header nav ul li a {
    transition: 0.25s;
}
header a,
.contact-me a {
    color: var(--gray);
    text-decoration: none;
}

.hero figcaption {
    font-family:var(--font);
    float: right;
    margin-top: 750px;
    margin-right: 30px;
    font-size: 200%;
}

main {
    background-image: linear-gradient(var(--gray), var(--white), var(--gray), var(--white));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 100%;
}

section div {
    display: inline-block;
    background-color: black;
    border-radius: 8px;
    padding: 25px;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-top: 90px;
}

h2 {
    font-size: 200%;
    text-decoration: underline solid black;
    transition: 0.5s;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: left;
    margin-left: 30px;
}

h2:hover {
    color: var(--red);
    text-decoration: none;
    text-shadow: 4px 4px 4px var(--gray);

}

main section {
    min-width: 100%;
    flex-direction:column;
}
.hero {
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.work a,
.work figure {
    display: inline-block;
    margin-left: 10px;
    max-width: 600px;
    min-width: 600px;
    height: 600px;
    min-height: 600px;
    transition: 0.5s;
}

.work figure div {
    color: var(--white);
    transition: 1s;
}

.work figure:hover {
    box-shadow: 4px 4px 4px var(--gray);
    border: 6px solid var(--white);
}

.work figure:hover div {
    width: 200px;
    background-color: var(--white);
    color: var(--red);
}

.work figure {
    border: 2px solid var(--gray);
}

.about-me p {
    font-size: 150%;
    text-align: center;
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 100px;
    margin-bottom: 50px;
    transition: 0.5s;
}

.about-me a {
    color: black;
    text-decoration: none;
    transition: 1s;
}

.about-me p:hover a {
    color: var(--red);
}

.about-me p:hover {
    text-shadow: 4px 4px 4px var(--white);
}

.contact-me a {
    transition: 0.5s;
}

.contact-me ul li {
    list-style-type: none;
    display: inline-flex;
    font-size: 200%;
    margin-left: 100px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

@media screen and (max-width: 992px) {
    header h1 {
        font-size: 170%;
    }

    .about-me p {
        font-size: 170%;
        margin-left: 100px;
    }

    .work a,
    .work figure {
        margin-left: 90px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
  

@media screen and (max-width: 768px) {
    header {
      padding-bottom: 60px;
    }

    .work a,
    .work figure {
        margin-left: 35px;
    }
}
  
@media screen and (max-width: 576px) {
    header {
      padding-bottom: 100px;
    }

    .about-me p {
        margin-left: 50px;
    }

    .work a,
    .work figure {
        margin-left: 15px;
        max-width: 500px;
        min-width: 500px;
        height: 500px;
        min-height: 500px;
    }
}